{% extends 'base.html' %} {% block container %}
<h2>Update Your</h2>
<p>Edit a record in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>
    Your name:
    <input type="text" id="fname" name="fname" value="{{doc.name}}" /><br />
  </p>
  <p>
    <b><label for="degree">Your Pick</label></b>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-0" value="1 Jingting Bai"> </input>
    <label for="degree-0">1 Jingting Bai</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-1" value="2 Chanyeol Park"> </input>
    <label for="degree-1">2 Chanyeol Park</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-2" value="3 Sehun Ooh"> </input>
    <label for="degree-2">3 Sehun Ooh</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-3" value="4 Hedi Wang"> </input>
    <label for="degree-3">4 Hedi Wang</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-4" value="5 Yibo Wang"> </input>
    <label for="degree-4">5 Yibo Wang</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-5" value="6 Feiyu Chen"></input>
    <label for="degree-5">6 Feiyu Chen</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-6" value="7 Weilong Song"></input>
    <label for="degree-6">7 Weilong Song</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-7" value="8 Yunxi Luo"></input>
    <label for="degree-7">8 Yunxi Luo</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-8" value="9 Baekhyun Byun"></input>
    <label for="degree-8">9 Baekhyun Byun</label>
  </p>
  <p>
    <input type="radio" name="degree" id="degree-9" value="10 Taeyong Lee"></input>
    <label for="degree-9">10 Taeyong Lee</label>
  </p>  <p>
    <input type="radio" name="degree" id="degree-10" value="11 Other (please leave his name in the comment below)"></input>
    <label for="degree-10">11 Other (please leave his name in the comment below)</label>
  </p>
  <p>
    <b><label for="fmessage">Comments On Your Pick</label></b>
  </p>
  <p>
    <textarea id="fmessage" name="fmessage">{{doc.message}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
