{% extends 'base.html' %} {% block container %}
<html>
<head>
<title>This page shows 10 Asian male artists's photos.</title>
<style>
.ShaShiDi{
width:500px;
height:400px;
display:flex;
align-items:center;
justify-content:center;
}

.ShaShiDi img{
	width:40%;
	height:auto;
}
.font_div{
	font-weight:bold;
	text-align:center;  
	
}
</style>
</head>
<body>
<h2>Photos</h2>
<p>This page shows 10 Asian male artists's photos. Please select the one that you like the most and leave your reasons below in the comments. Thank you very much!
	<div class="ShaShiDi">
		<img src="https://pbs.twimg.com/media/DcUIhQbVwAA6hBK.jpg:large"/>
	</div>
    <div class="font_div">
        No.1: Jingting Bai
    </div>
	<div class="ShaShiDi">
		<img src="https://guebanget.com/tm_images/editorpenulis/chany.jpg"/>
	</div>
    <div class="font_div">
        No.2: Park Chan-yeol
    </div>
    <div class="ShaShiDi">
		<img src="https://i.pinimg.com/originals/86/f1/f4/86f1f4d512e2089eebd2467db3a35954.jpg"/>
	</div>
    <div class="font_div">
        No.3: Oh Se Hun
    </div>
    <div class="ShaShiDi">
		<img src="https://i.pinimg.com/originals/1c/e4/75/1ce47582ba4004d6ab8c28f2427539be.jpg"/>
	</div>   
    <div class="font_div">
        No.4: Hedi Wang
    </div> 
    <div class="ShaShiDi">
		<img src="https://i.pinimg.com/originals/e7/24/3c/e7243c6df8fd4b0cbbd841d1da42f4dc.jpg"/>
	</div> 
    <div class="font_div">
        No.5: Yibo Wang
    </div>   
    <div class="ShaShiDi">
		<img src="https://i.pinimg.com/originals/d9/de/5c/d9de5ccc04d0994f7a9c1e90c8583f6f.jpg"/>
	</div> 
    <div class="font_div">
        No.6: Feiyu Chen
    </div> 
    <div class="ShaShiDi">
		<img src="https://wallpapercave.com/wp/wp7263248.jpg"/>
	</div> 
    <div class="font_div">
        No.7: Weilong Chen
    </div>   
    <div class="ShaShiDi">
		<img src="https://i.pinimg.com/originals/ef/9d/3c/ef9d3c6fda7247da62f16bfd972e0578.jpg"/>
	</div> 
    <div class="font_div">
        No.8: Yunxi Luo
    </div>      
    <div class="ShaShiDi">
		<img src="https://pm1.narvii.com/6345/7fc60f87328be03408cc8c35cd0467ca18591294_hq.jpg"/>
	</div> 
    <div class="font_div">
        No.9: Byun Baek-hyun
    </div>  
    <div class="ShaShiDi">
		<img src="https://64.media.tumblr.com/083c3ffbd14bca29a22ca16fc96dfc46/20d1ad60e446c020-65/s640x960/8f8b9676e462da1a7c24abb62bfd3f54f75b8407.jpg"/>
	</div> 
    <div class="font_div">
        No.10: Lee Tae-yong
    </div> 
    <div class="ShaShiDi">
		<img src="https://th.bing.com/th/id/R.5e65bafc0ef5d998f1cca98135f24c7a?rik=%2f7HMfBJNbUjq3Q&riu=http%3a%2f%2fwx2.sinaimg.cn%2flarge%2f814268e3ly1fimpd9rj8xj20g40fpjrt.jpg&ehk=oXPkKs3BlTX3L0Hb2RJKVXbcw06%2b3TguZP6tmySw3Bc%3d&risl=&pid=ImgRaw&r=0"/>
	</div> 
    <div class="font_div">
        No.11: My love is not on the list, so sad :( balablabalabala
    </div>     
</p>
</body>
</html>
{% endblock %}