{% extends 'base.html' %} {% block container %}
<h3>Our Flask Buttons<h3/>
    <form method="post" action="/">
        <input type="submit" value="VALUE1" name="action1"/>
        <input type="submit" value="VALUE2" name="action2" />
        <p>
            <b><label for="fmessage">Comments On Your Pick</label></b>
          </p>
          <p>
            <textarea type="text" id="fmessage" name="fmessage"></textarea>
          </p>
        
          <p>
            <a href="{{ url_for('read')}}">Cancel</a>
            <input type="submit" name="post-btn" value="Post" />
          </p>
    </form>
{% endblock %}